@import "bootstrap-sprockets";
@import "bootstrap";

$font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium', meiryo, sans-serif;

body{
  font-family: $font;
}

$gray-border: #bdc3c7;
$gray-link: #7f8c8d;

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-border;
  color: $gray-border;
  a {
    color: $gray-link;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.stage {
  display: block;
  width: 500px;
  height: 500px;
}