@charset "utf-8";

.container{
	width: 80%;
}
#hasira01{
	background-color: orange;
	width: 10%;
	height: 100vh;
	float: left;
    margin: auto;
}
#hasira02{
	background-color: aqua;
	width: 10%;
	height: 100vh;
	float: right;
}
#menu{
    padding-top:200px;
}
#menu ul{
list-style: none; 
padding: 0;
margin: 0;
}
#menu li{
padding: 0; 
margin: 0;
}
#menu li a{
text-decoration: none;
color: #555;
padding: 0px 0px 0px 20px;
font-size: 20px;
}
#menu li a:hover{
background: url(画像のアドレス) no-repeat left center;
}


#hasira03{
	background-color: #8DFF14;
	width: 10%;
	height: 100vh;
	float: left;
}

#hasira04{
	background-color: orange;
	width: 10%;
	height: 100vh;
	float: left;
}

#hasira05{
	background-color: aqua;
	width: 10%;
	height: 100vh;
	float: left;
}


.box{
    padding: 30px;
}




p{
    font-size: 18px;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;
    
}

button{
    margin: 20px;
}

#member{
    width: 100%;
    padding: 0;
}

.who{
    width: 150px;
    margin: 20px auto;
}

#twi{
    width: 80%;
    padding:200px 10%;
    float: left;
}

#orange{
    background-color: orange;
    width: 90%;
    height: 90vh;
    z-index: 2;
    top: 0;
    left: 0;
    position: absolute;
    
}

#blue{
    background-color: aqua;
    width: 90%;
    height: 90vh;
    z-index: 1;
    top: 10%;
    margin-left: 10%;
    position: absolute;
}
