<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/ending_novel/ending_novel' %>
</div>
<%= form_tag staff_path, id: :staff, method: :get %>
