<% @page_title = '小豆ちゃんのお見舞い' %>

<% content_for :stage_header do %>
  <p id="story">小豆ちゃんのお見舞い</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/intro_novel/intro_novel' %>
</div>
<%= form_tag stages_path, id: :intro_novel, method: :get %>
