<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/intro_novel/intro_novel' %>
</div>
<%= form_tag stage1_path, id: :intro_novel, method: :get %>
