<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/stage1_novel/stage1_novel' %>
</div>
<%= form_tag stage2_novel_path, id: :stage2_novel, method: :get %>
