<% @page_title = 'ステージ2' %>

<% content_for :stage_header do %>
  <p id="story">ステージ2</p>
  <p id="mis">ミッション：主人公をゴールに届けよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon">ここはこうするとええのよ</div>
  </div>
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/stage2/stage2' %>
</div>
<%= form_tag novel3_path, id: :stage2, method: :get %>
