<% @page_title = 'ステージ2' %>

<% content_for :stage_header do %>
  <p id="story">ステージ2</p>
  <p id="mis">ミッション：1番のバス停から順番に通るようにバスを導こう！！</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion03.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon" onclick="help_button()">
      <p id="help_text_before">ここをクリックしたら「ヘルプ」が表示されるよ！</p>
      <p id="help_text_after" style="display: none">発車したら、すぐに右に移動するルートも考えてみよう！</p>
    </div>
    <%= image_tag('favicon.png', id: 'help-pic') %>
  </div>
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/stage2/stage2' %>
</div>
<%= form_tag stage3_novel_path, id: :stage3_novel, method: :get %>
