<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/stage2_novel/stage2_novel' %>
</div>
<%= form_tag stage2_path, id: :stage2, method: :get %>
