<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/stage3_novel/stage3_novel' %>
  </div>
</div>
<%= form_tag stage3_path, id: :stage3, method: :get %>
