<% @page_title = 'ステージ3' %>

<% content_for :stage_header do %>
  <p id="story">ステージ3</p>
  <p id="mis">ミッション：主人公をゴールに届けよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion03.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon">ここはこうするとええのよ</div>
  </div>
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/stage3/stage3' %>
</div>
<%= form_tag ending_novel_path, id: :ending_novel, method: :get %>
