<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/stage3_novel/stage3_novel' %>
  </div>
</div>

<div>
  <form id="stage3" action="/stages/stage3" accept-charset="UTF-8" method="get">
  </form>
</div>

<div>
  <form id="ending" action="/stages/ending_novel" accept-charset="UTF-8" method="get">
  </form>
</div>
