<% @page_title = 'あずきのおみまい' %>

<% content_for :stage_header do %>
  <p id="story">あずきのおみまい</p>
<% end %>

<div id="motion">
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/title/title' %>
  </div>

  <div>
    <form id="intro_novel" action="/stages/intro_novel" accept-charset="UTF-8" method="get">
    </form>
  </div>

  <div>
    <form id="tutorial1_novel" action="/stages/tutorial1_novel" accept-charset="UTF-8" method="get">
    </form>
  </div>
</div>
