<% @page_title = 'チュートリアル3' %>

<% content_for :stage_header do %>
  <p id="story">チュートリアル3</p>
  <p id="mis">ミッション：主人公をゴールにとどけよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion02.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon" onclick="help_button()">
      <p id="help_text_before">ここをクリックしたら「ヘルプ」がひょうじされるよ！</p>
      <p id="help_text_after" style="display: none">どこにカラーコーンを置けば最小歩数でいどうできるかな</p>
    </div>
    <%= image_tag('favicon.png', id: 'help-pic') %>
  </div>
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/tutorial3/tutorial3' %>
  </div>
</div>
<%= form_tag tutorial3A_novel_path, id: :tutorial3, method: :get %>
