<% @page_title = 'チュートリアル1' %>

<% content_for :stage_header do %>
  <p id="story">チュートリアル1</p>
  <p id="mis">ミッション：主人公をゴールにとどけよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion01.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon" onclick="help_button()">
      <p id="help_text_before">ここをクリックしたら「ヘルプ」がひょうじされるよ！</p>
      <p id="help_text_after" style="display: none">「▶︎実行」ボタンをおしてみよう！</p>
    </div>
    <%= image_tag('favicon.png', id: 'help-pic') %>
  </div>
</div>

<div class="enchant-wrapper">
  <div id="enchant-stage">
    <%= javascript_include_tag 'stage/tutorial1/tutorial1' %>
  </div>
</div>

<%= form_tag tutorial2_novel_path, id: :tutorial2_novel, method: :get %>
