<% @page_title = 'チュートリアル2' %>

<% content_for :stage_header do %>
  <p id="story">チュートリアル2</p>
  <p id="mis">ミッション：主人公をゴールに届けよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('motion02.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon" onclick="help_button()">
      <p id="help_text_before">ここをクリックしたら「ヘルプ」が表示されるよ！</p>
      <p id="help_text_after", style="display: none">私は赤色のカラーコーンにぶつかると、右を向くよ！</p>
    </div>
    <%= image_tag('favicon.png', id: 'help-pic') %>
  </div>
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/tutorial2/tutorial2' %>
</div>
<%= form_tag tutorial3_novel_path, id: :tutorial3_novel, method: :get %>
