<% @page_title = 'チュートリアル3' %>

<% content_for :stage_header do %>
  <p id="story">チュートリアル3</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/tutorial3_novel/tutorial3_novel' %>
</div>
<%= form_tag tutorial3_path, id: :tutorial3_novel, method: :get %>
