<% @page_title = 'チュートリアル1' %>

<% content_for :stage_header do %>
  <p id="story">チュートリアル1</p>
<% end %>

<div id="motion">
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/tutorial1_novel/tutorial1_novel' %>
</div>
<%= form_tag tutorial1_path, id: :tutorial1_novel, method: :get %>
