<% @page_title = 'チュートリアル2' %>

<% content_for :stage_header do %>
  <p id="story">チュートリアル2</p>
  <p id="mis">ミッション：主人公をゴールに届けよう!!</p>
<% end %>

<div id="motion">
  <div id="puzz">
    <h3>〜動き方〜</h3>
    <%= image_tag('tutorial2_motion.png', id: 'motion-pic') %>
  </div>
  <div id="help">
    <h3>〜ヘルプ〜</h3>
    <div class="balloon">ここはこうするとええのよ</div>
  </div>
</div>

<div id="enchant-stage">
  <%= javascript_include_tag 'stage/tutorial2/tutorial2' %>
</div>
<%= form_tag tutorial3_novel_path, id: :tutorial2, method: :get %>
