<%= link_to 'ページトップ', root_path, class: "navbar-brand" %>
<div class="navbar-collapse collapse navbar-responsive-collapse">
  <ul class="nav navbar-nav">
    <li><%= link_to 'ステージ', title_path %></li>
  </ul>
</div>
