<div id="head">
  <%= link_to image_tag('ppp_logo02.svg', alt: 'ロゴがきます', id: 'logo'), root_path %>
  <div class="header-wr">
    <%= yield :stage_header %>
  </div>
  <%= link_to image_tag('select.svg', alt: 'セレクトリンク', id: 'link'), title_path %>
</div>
