@charset "UTF-8";
nav {
  position: fixed;
  height: 55px;
}
nav ul {
  padding: 0;
}
nav ul li {
  display: block;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: solid 2px #94E3F7;
  border-left: none;
}
nav ul li a {
  display: block;
  padding: 5px;
  text-align: center;
  color: #94E3F7;
  font-weight: bold;
  font-size: 28px;
  transition: all .25s linear;
}
nav ul li a:hover {
  background-color: #94E3F7;
  color: #fff;
  text-decoration: none;
}
nav ul li a.active {
  background-color: #94E3F7;
  color: #fff;
}
nav ul li:first-child {
  border-left: solid 2px #94E3F7;
}
