<% @page_title = 'TOP' %>
<header>
  <%# <div class="container"> %>
    <div class="title-b">
      <h4>松永プロジェクト</h4>
      <h1>あずきのおみまい</h1>
    <%# </div> %>
<%= link_to 'ゲームを始める', title_path, class: 'start_btn'%>    
  </div>
</header>
<div class="content">
  <section>
    <h2>概要</h2>
    <p>
      あずきのおみまいは、松永プロジェクトで製作している「P++」のコンテンツの一つで、プログラムの通り動く物語の人物を障害物の配置でゴールへと導くブラウザゲームです。<br>
      ゴールの仕方によっては、物語の流れが変わるためエンディングが複数あります。エンディングコンプリートを目指しましょう！
    </p>
  </section>
  <section>
    <h2>必須動作環境</h2>
    <p>
    画面解像度が1366x768以上必要です。<br />
    それ以下の場合、画面の表示が崩れる場合があります。
    </p>
  </section>
  <footer>
    <a href="http://www.ne.senshu-u.ac.jp/~proj29-20/">松永プロジェクト2017</a>
  </footer>
</div>