<% @page_title = 'TOP' %>
<header>
  <div class="container">
    <h4>松永プロジェクト</h4>
    <h1>Projct C</h1>
  </div>
</header>
<div class="container">
  <section>
    <h2>概要</h2>
    <p>
      から揚げ
    </p>
    <%= link_to 'ログインして始める', login_form_path, class: 'btn btn-primary'%>
  </section>
</div>